<div>

<h2>Today's Date: </h2>
<p> New York, USA: {{nyDate}}</p>
<p> Enugu, Nigeria: {{lagosDate}}</p>

<h3>The current time is:</h3>
<p>NYC Time: {{nyTime}}</p>
<p>Enugu Time: {{lagosTime}}</p>

<p>Refresh count: {{count}}</p>

<button onclick={{action refresh}}>Refresh!</button>
</div> 
{{yield}}