{{yield}}
<body>
<h1>Date and Time Tracker</h1> 
<p>Local Time (New York) <br>{{this.theMonth}}/{{this.theDay}}/{{this.theYear}} {{this.theHour}}:{{this.theMin}} Milliseconds: {{this.theMilli}} Seconds: {{this.theSec}}<br> <br>California <br>{{this.theMonth}}/{{this.theDay}}/{{this.theYear}} {{this.theHourCali}}:{{this.theMin}} Milliseconds: {{this.theMilli}} Seconds: {{this.theSec}}  </p>
<br> <br>
<button onclick={{this.refresh}}>Refresh</button>

</body>